#custom-media {
    padding: 0px 10px;
    border-radius: 12px;
    background-color: #333333;
    transition: all 0.5s ease-in-out;
}

#custom-media.custom-firefox {
    background-color: #FF6611;
    transition: all 0.5s ease-in-out;
}

#custom-media.custom-Plexamp {
    background-color: #e5a00d;
    transition: all 0.5s ease-in-out;
}

#custom-media.custom-spotify {
    background-color: #1DB954;
    transition: all 0.5s ease-in-out;
}