#custom-media {
    transition: all 0.5s ease-in-out;
}

#custom-media.custom-firefox {
    background: #FF6611;
    color: black;
}

#custom-media.custom-spotify {
    background: #1DB954;
    color: black;
}