@import "styles/pia-status.css";
@import "styles/media-player.css";

* {
    border: none;
    border-radius: 0;
    font-family: NotoSans Nerd Font,Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 24px;
}

#window {
    padding: 0px 10px;
}

window.DP-2 #window {
    padding: 0px;
}

#waybar {
    background: rgba(25, 25, 25,0.95);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white;
    /*border-bottom-left-radius: 24px;*/
    /*border-bottom-right-radius: 24px;*/
    padding-left: 20px;
    padding-right: 20px;
}

#workspaces {
    padding-left: 25px;
    padding-right: 10px;
}

window.DP-2 #workspaces {
    padding: 0px;
}

#workspaces button {
    padding: 0px 0px;
    background: transparent;
    color: white;
    min-width: 25px;
    border-radius: 5px;
}

#workspaces button.focused {
    background: #64727D;
}

#workspaces button:hover {
    background: #454a4e;
}

#mode {
    background: #64727D;
}

#clock {
    background-color: #eeeeee;
    border-radius: 12px;
    color: #000000;
}

window.DP-2 #clock {
    border-radius: 0px;
    border-bottom-left-radius: 12px;
    background-color: transparent;
    color: #ffffff;
}

window.DP-2 #workspaces {
    padding-left: 0px;
}

#network, #idle_inhibitor, #pulseaudio, #cpu, #memory, #temperature, #tray, #clock, #disk, #battery, #backlight {
    padding: 0 6px;
    margin: 0 0px;
}

#temperature.critical {
    color: #ff0000;
}

#tray {
    padding-right: 25px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


