@import "styles/pia-status.css";
@import "styles/media-player.css";

* {
    border: none;
    border-radius: 0;
    font-family: NotoSans Nerd Font,Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 24px;
    padding: 0px 3px;
    color: white;
}

.modules-left {
    padding-left: 20px;
}

.modules-right {
    padding-right: 20px;
}

#waybar {
    background: rgba(25, 25, 25,0.95);
}

#custom-separator {
    padding: 0px 0px;
}

#workspaces {
    padding-right: 10px;
}

#workspaces button {
    margin: 0px 4px;
    background: transparent;
    color: white;
    min-width: 25px;
    border-radius: 5px;
}

#workspaces button.focused {
    background: #64727D;
}

#workspaces button:hover {
    background: #454a4e;
}

#mode {
    background: #64727D;
}

#clock {
    padding: 0px 5px;
    margin: 0px 5px;

    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

#custom-gamemode {
    color: #7fff43;
}

#custom-windows-status {
    color: #0db2ff;
}

#cpu {
    color: #79ff79
}

#memory {
    color: #ff7b7b
}

#temperature {
    color: #7cc0ff
}

#battery.warning {
	color: yellow;
}

#battery.critical {
	color: red;
}

#disk.warning, #disk.mirror.warning {
    color: yellow;
}

#disk.high, #disk.mirror.high {
    color: orange;
}

#disk.critical, #disk.mirror.critical {
    color: red;
}

#temperature.critical {
    color: #ff0000;
}

#custom-checkupdate {
    color: #ffa600
}

#custom-checkdots {
    color: #00c3ff
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

/* Secondary monitor specific options*/
window.DP-2 * {
    padding: 0;
}

window.DP-2 #window {
    padding: 0px;
}

window.DP-2 #workspaces {
    padding: 0px;
}

window.DP-2 #clock {
    background-color: transparent;
    color: #ffffff;
    padding: 0px;

    border-style: none;
}

window.DP-2 #workspaces {
    padding-left: 0px;
}
