@import "styles/pia-status.css";
@import "styles/media-player.css";

* {
    border: none;
    border-radius: 0;
    font-family: Cascadia Code, Symbols Nerd Font;
    font-size: 16px;
    min-height: 30px;
    padding: 0px 3px;
}

.modules-left {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modules-right {
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#waybar {
    background: #222222;
}

#custom-separator {
    padding: 0px 0px;
    margin: 0px 5px;
}



#workspaces button {
    margin: 0px 1px;
    background: transparent;
    color: white;
    min-width: 30px;
    border-radius: 15px;
}

#workspaces button.focused {
    background: #ffffff;
    color: black;
}

#workspaces button:hover {
    background: #bbbbbb;
    color: #333333;
}

#mode {
    background: #64727D;
}







/* Groups and single items */

#cpu, #memory, #temperature {
    background: #504040;
    /*text-shadow: 2px 2px 2px #000000;*/
}

#disk.root, #disk.mirror {
    background: #405040;
}

#network, #custom-pia-status {
    background: #404050;
}

#idle_inhibitor, #pulseaudio, #tray {
    background: #504050;
}

#workspaces {
    background: #505050;
}

#clock {
    background: #770000;
    color: white;
    font-size: 18px;
}

#custom-gamemode {
    background: #61d42c;
    color: black;
}

#custom-checkdots {
    /*color: #00c3ff*/
    background: #666666;
    animation: pulse-dots 2s alternate linear infinite;
}

#custom-checkupdate {
    animation: pulse-updates 2s alternate linear infinite;
}

#custom-windows-status {
    background: #0db2ff;
}

/* Right Sides */

#temperature, #disk.mirror, window.eDP-1 #disk.root, #custom-pia-status, 
#tray, #clock, #custom-checkdots, #custom-checkupdate, #workspaces, #custom-media, 
#mode, #custom-gamemode, #custom-windows-status {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 10px;
    margin-right: 5px;
}

/* Left Sides */

#cpu, #disk.root, #network, #pulseaudio, #clock, #custom-checkdots, #custom-checkupdate, 
#workspaces, #custom-media, #mode, #custom-gamemode, #custom-windows-status {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    margin-left: 5px;
}

/* Other settings */

#battery.warning {
	color: yellow;
}

#battery.critical {
	color: red;
}

#disk.root.warning, #disk.mirror.warning {
    color: yellow;
}

#disk.root.high, #disk.mirror.high {
    color: orange;
}

#disk.root.critical, #disk.mirror.critical {
    color: red;
}

#temperature.critical {
    color: #ff0000;
}





@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

@keyframes pulse-dots {
    from {
        background: #00c3ff;
    }

    to {
        background: #0084ac;
    }
}

@keyframes pulse-updates {
    from {
        background: #ffa600;
    }

    to {
        background: #b97900;
    }
}

/* Secondary monitor specific options*/
window.DP-2 * {
    padding: 0;
}

window.DP-2 #window {
    padding: 0px;
}

window.DP-2 #workspaces {
    padding: 0px;
}

window.DP-2 #clock {
    background-color: transparent;
    color: #ffffff;
    padding: 0px;

    border-style: none;
}

window.DP-2 #workspaces {
    padding-left: 0px;
}
