configuration {
 width: 600;
 lines: 10;
 modi: "window,drun,ssh,combi,run";
 theme: "lsblur";
 font: "Cascadia Code 12";
 combi-modi: "window,drun,ssh";
 icon-theme: "Papirus";
 show-icons: true;
 combi-hide-mode-prefix: true;
}
