[Desktop Entry]
Name=Plexamp
Exec=env APPIMAGELAUNCHER_DISABLE=1 DESKTOPINTEGRATION=0 /usr/bin/Plexamp.AppImage --disable-frame-rate-limit
Terminal=false
Type=Application
Icon=plexamp
StartupWMClass=plexamp
X-AppImage-Version=3.4.0
Comment=The best little audio player on the planet
Categories=AudioVideo;
